#  Exotic Currency Stock Forecasting

Notebook to extract and build the External Variables DataFrame.

In [13]:
#Imports
import requests
import json
import pandas as pd 
import yfinance as yf
from datetime import datetime

#  1. Extracting the Official Daily Exchange Rate (ECB)

Loading the dataset from Yahoo Finance API

In [14]:
#First look at yahoo finance data
eurmxn = yf.download("EURMXN=X", start="2021-01-01", end="2022-01-01", interval="1mo", period="1y", group_by="Ticker")
eurmxn_df = pd.DataFrame(eurmxn)
eurmxn_df.head()

/tmp/ipykernel_3798/483700566.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  eurmxn = yf.download("EURMXN=X", start="2021-01-01", end="2022-01-01", interval="1mo", period="1y", group_by="Ticker")
[*********************100%***********************]  1 of 1 completed

Ticker       EURMXN=X
Price            Open       High        Low      Close Volume
Date
2021-01-01  24.290001  24.988001  23.653601  24.988001      0
2021-02-01  24.845800  25.566500  24.141100  25.181801      0
2021-03-01  25.132500  25.669201  23.966999  24.121201      0
2021-04-01  23.963400  24.397400  23.581600  24.292700      0
2021-05-01  24.326200  24.479799  23.961500  24.304701      0

In [15]:
#Lista de pares de divisas (Yahoo Finance symbols)
PAIRS = {
    "EUR/MAD": "EURMAD=X",
    "EUR/MXN": "EURMXN=X",
    "EUR/JPY": "EURJPY=X",
    "EUR/CNY": "EURCNY=X",
    "EUR/CZK": "EURCZK=X"
}
START_DATE = "2021-01-01"
END_DATE = datetime.today().strftime('%Y-%m-%d')  # hasta hoy
all_data = []
for name, symbol in PAIRS.items():
    print(f"Descargando datos para {name} ({symbol})")
    df = yf.download(symbol, start=START_DATE, end=END_DATE, interval="1mo")
    df.reset_index(inplace=True)
    df["pair"] = name
    df = df[["Date", "pair", "Open", "Close", "Low", "High"]]
    all_data.append(df)
#Concatenar todos los pares en un solo DataFrame
df_final = pd.concat(all_data)
df_final.sort_values(by=["pair", "Date"], inplace=True)
#Guardar a CSV
df_final.to_csv("tipo_cambio_yfinance_mensual.csv", index=False)
print(" CSV generado: tipo_cambio_yfinance_mensual.csv")

/tmp/ipykernel_3798/2939207799.py:14: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start=START_DATE, end=END_DATE, interval="1mo")
[*********************100%***********************]  1 of 1 completed
/tmp/ipykernel_3798/2939207799.py:14: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start=START_DATE, end=END_DATE, interval="1mo")
[*********************100%***********************]  1 of 1 completed
/tmp/ipykernel_3798/2939207799.py:14: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start=START_DATE, end=END_DATE, interval="1mo")
[*********************100%***********************]  1 of 1 completed

/tmp/ipykernel_3798/2939207799.py:14: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start=START_DATE, end=END_DATE, interval="1mo")
[*********************100%***********************]  1 of 1 completed
/tmp/ipykernel_3798/2939207799.py:14: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start=START_DATE, end=END_DATE, interval="1mo")
[*********************100%***********************]  1 of 1 completed

Descargando datos para EUR/MAD (EURMAD=X)
Descargando datos para EUR/MXN (EURMXN=X)
Descargando datos para EUR/JPY (EURJPY=X)
Descargando datos para EUR/CNY (EURCNY=X)
Descargando datos para EUR/CZK (EURCZK=X)
 CSV generado: tipo_cambio_yfinance_mensual.csv

In [16]:
#Yahoo finance df analysis
yahoo_df = pd.read_csv('tipo_cambio_yfinance_mensual.csv')

In [17]:
pd.set_option('display.max_columns', None)
yahoo_df.head()

,Date,pair,Open,Close,Low,High,Open.1,Close.1,Low.1,High.1,Open.2,Close.2,Low.2,High.2,Open.3,Close.3,Low.3,High.3,Open.4,Close.4,Low.4,High.4
0,NaN,NaN,EURMAD=X,EURMAD=X,EURMAD=X,EURMAD=X,EURMXN=X,EURMXN=X,EURMXN=X,EURMXN=X,EURJPY=X,EURJPY=X,EURJPY=X,EURJPY=X,EURCNY=X,EURCNY=X,EURCNY=X,EURCNY=X,EURCZK=X,EURCZK=X,EURCZK=X,EURCZK=X
1,2021-01-01,EUR/CNY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.96560001373291,7.790999889373779,7.773399829864502,7.969699859619141,NaN,NaN,NaN,NaN
2,2021-02-01,EUR/CNY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.797100067138672,7.803599834442139,7.6946001052856445,7.889200210571289,NaN,NaN,NaN,NaN
3,2021-03-01,EUR/CNY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.7846999168396,7.691400051116943,7.64739990234375,7.818299770355225,NaN,NaN,NaN,NaN
4,2021-04-01,EUR/CNY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.673999786376953,7.835599899291992,7.647500038146973,7.856900215148926,NaN,NaN,NaN,NaN

Below we can find a possible format for a better values distribution regarding the fact that we have X Stores

In [18]:
#Loading the uncleaned version of the DF
df = pd.read_csv("tipo_cambio_yfinance_mensual.csv")

In [19]:
#Extract currency codes from row 0
currency_map = {}
for col in df.columns:
    if "Open" in col:
        suffix = col.replace("Open", "")
        code = df.loc[0, col]
        if isinstance(code, str):
            currency_map[suffix] = code.replace("=X", "")

In [20]:
#Drop header row and reset index
df_clean = df.drop(index=0).reset_index(drop=True)

In [21]:
#Building a long-format DataFrame (Date + Currency + OHLC)
currency_rows = []
for suffix, currency in currency_map.items():
    temp_df = pd.DataFrame()
    temp_df["Date"] = pd.to_datetime(df_clean["Date"])
    temp_df["Currency"] = currency
    temp_df["Open"] = pd.to_numeric(df_clean[f"Open{suffix}"], errors='coerce')
    temp_df["Close"] = pd.to_numeric(df_clean[f"Close{suffix}"], errors='coerce')
    temp_df["Low"] = pd.to_numeric(df_clean[f"Low{suffix}"], errors='coerce')
    temp_df["High"] = pd.to_numeric(df_clean[f"High{suffix}"], errors='coerce')
    currency_rows.append(temp_df)

long_df = pd.concat(currency_rows, ignore_index=True)

In [22]:
#Sorting by Date and Currency
long_df = long_df.sort_values(by=["Date", "Currency"]).reset_index(drop=True)

In [23]:
#Assign stores cyclically for each dateâ€“currency block
stores = [f"Store_{i}" for i in range(1, 7)]  # Store_1 to Store_6
repeated_stores = stores * (len(long_df) // len(stores) + 1)
long_df["Store"] = repeated_stores[:len(long_df)]

In [24]:
#Reordering columns
long_df = long_df[["Store", "Date", "Currency", "Open", "Close", "Low", "High"]]

In [25]:
#Sort by Date â†’ Store â†’ Currency
long_df = long_df.sort_values(by=["Date", "Store", "Currency"]).reset_index(drop=True)

In [26]:
#Fill NaN values forward (within each Currency)
long_df[["Open", "Close", "Low", "High"]] = (
    long_df.groupby("Currency")[["Open", "Close", "Low", "High"]]
    .transform(lambda group: group.ffill())
)

In [27]:
#Fill any remaining NaNs (e.g., first row per currency)
long_df[["Open", "Close", "Low", "High"]] = long_df[["Open", "Close", "Low", "High"]].fillna(0)

In [28]:
yfinances_formated_df = pd.DataFrame(long_df)

Below you can find the final and cleaned version of the exchange rate variables extracted from Yahoo using Python Scraping formated into what we assume will be the general format of the mode_data_df (The one merged a.k.a Frankenstein ðŸ§Œ). 

It is already saved, you can find it in the ``data`` folder

In [29]:
yfinances_formated_df.to_csv('yfinances_formated_df')
yfinances_formated_df.head(30)

,Store,Date,Currency,Open,Close,Low,High
0,Store_1,2021-01-01,EURCNY,7.965600,7.791000,7.773400,7.969700
1,Store_1,2021-01-01,EURCZK,26.220501,26.023001,25.939400,26.281000
2,Store_1,2021-01-01,EURJPY,126.443001,127.067490,125.093002,127.454002
3,Store_1,2021-01-01,EURMAD,10.564000,10.515700,10.395100,10.564000
4,Store_1,2021-01-01,EURMXN,24.290001,24.988001,23.653601,24.988001
5,Store_2,2021-01-01,EURCNY,7.965600,7.791000,7.773400,7.969700
6,Store_2,2021-01-01,EURCZK,26.220501,26.023001,25.939400,26.281000
7,Store_2,2021-01-01,EURJPY,126.443001,127.067490,125.093002,127.454002
8,Store_2,2021-01-01,EURMAD,10.564000,10.515700,10.395100,10.564000
9,Store_3,2021-01-01,EURCNY,7.965600,7.791000,7.773400,7.969700
10,Store_3,2021-01-01,EURCZK,26.220501,26.023001,25.939400,26.281000
11,Store_3,2021-01-01,EURJPY,126.443001,127.067490,125.093002,127.454002
12,Store_3,2021-01-01,EURMXN,24.290001,24.988001,23.653601,24.988001
13,Store_4,2021-01-01,EURCNY,7.965600,7.791000,7.773400,7.969700
14,Store_4,2021-01-01,EURCZK,26.220501,26.023001,25.939400,26.281000
15,Store_4,2021-01-01,EURMAD,10.564000,10.515700,10.395100,10.564000
16,Store_4,2021-01-01,EURMXN,24.290001,24.988001,23.653601,24.988001
17,Store_5,2021-01-01,EURCNY,7.965600,7.791000,7.773400,7.969700
18,Store_5,2021-01-01,EURJPY,126.443001,127.067490,125.093002,127.454002
19,Store_5,2021-01-01,EURMAD,10.564000,10.515700,10.395100,10.564000
20,Store_5,2021-01-01,EURMXN,24.290001,24.988001,23.653601,24.988001
21,Store_6,2021-01-01,EURCZK,26.220501,26.023001,25.939400,26.281000
22,Store_6,2021-01-01,EURJPY,126.443001,127.067490,125.093002,127.454002
23,Store_6,2021-01-01,EURMAD,10.564000,10.515700,10.395100,10.564000
24,Store_6,2021-01-01,EURMXN,24.290001,24.988001,23.653601,24.988001
25,Store_1,2021-02-01,EURCZK,26.220501,26.023001,25.939400,26.281000
26,Store_1,2021-02-01,EURJPY,126.443001,127.067490,125.093002,127.454002
27,Store_1,2021-02-01,EURMAD,10.564000,10.515700,10.395100,10.564000
28,Store_1,2021-02-01,EURMXN,24.290001,24.988001,23.653601,24.988001
29,Store_2,2021-02-01,EURCNY,7.797100,7.803600,7.694600,7.889200

# 2. Extracting Weather (Rain/Temperature) - (Collab Radha-Jose Sunday)

# 3 Extracting Google Trends (e.g., â€œbuy dirhams Madridâ€) - (Radha)

In [1]:
print('hola jose!!')

hola jose!!

# 4. Extracting Unemployment Ratio - (Radha)

# 5. Extracting Inflation Ratio - (Jose M)